<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dzaster.gsnooze</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>179C24F5-23AD-4EA4-9F51-9469F7CEE320</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7333885-5636-4451-B458-63221EA27E3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4146539F-1517-49F5-9F4F-579BBC8EECEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19ECC9EF-F475-4AE3-929B-110D943ECC5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>452C5A5D-6823-4689-8780-6F0C581F69C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A439AC14-9DA7-4C30-BA5F-C8AF8B2C5FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EDDBA782-0AFB-47A7-B890-A52F5885DE20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48B60A1C-501B-446A-ADB6-73D680C65CA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FACDC13A-2DDB-4638-98DD-F921914DE6D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>840D72A8-D761-4BD4-A49D-E782DBF61B12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>179C24F5-23AD-4EA4-9F51-9469F7CEE320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A439AC14-9DA7-4C30-BA5F-C8AF8B2C5FFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A79F1693-E552-4B4F-B1A9-3F62C38D5D4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD6318ED-CDFA-4D70-BAA7-89417D49BBC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9BB8C42-9880-4F66-88B5-0333C9765AF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9BB8C42-9880-4F66-88B5-0333C9765AF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19ECC9EF-F475-4AE3-929B-110D943ECC5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDDBA782-0AFB-47A7-B890-A52F5885DE20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48B60A1C-501B-446A-ADB6-73D680C65CA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FACDC13A-2DDB-4638-98DD-F921914DE6D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DCF5BD1-D41D-4095-B5CC-8CC2B37A09C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rich Vreeland</string>
	<key>description</key>
	<string>Automate the task of snoozing emails.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>!, !z, z: Gmail Snooze/Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
 	tell application "Keyboard Maestro Engine"
		setvariable "snoozeFromAlfred" to item 1 of argv
		do script "FA619BD5-690E-412E-953E-965C7B28E78C"
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7333885-5636-4451-B458-63221EA27E3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node "`pwd`"/snooze.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>179C24F5-23AD-4EA4-9F51-9469F7CEE320</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>z</string>
				<key>subtext</key>
				<string>eg: 1d, w, mon, feb 7, 3wed, 11p, d20</string>
				<key>text</key>
				<string>Snooze Email</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>840D72A8-D761-4BD4-A49D-E782DBF61B12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
 	tell application "Keyboard Maestro Engine"
		setvariable "gmailReminderFromAlfred" to item 1 of argv
		do script "659171D5-C8DC-47AB-AB7C-8D26B735CCC3"
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A79F1693-E552-4B4F-B1A9-3F62C38D5D4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>!z</string>
				<key>subtext</key>
				<string>usage: reminder text, snooze input</string>
				<key>text</key>
				<string>New Snoozed Reminder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>452C5A5D-6823-4689-8780-6F0C581F69C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.*), (.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A439AC14-9DA7-4C30-BA5F-C8AF8B2C5FFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
 	tell application "Keyboard Maestro Engine"
		setvariable "snoozeFromAlfred" to item 1 of argv
		setvariable "snoozable" to "yes"
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1DCF5BD1-D41D-4095-B5CC-8CC2B37A09C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node "`pwd`"/snooze.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FACDC13A-2DDB-4638-98DD-F921914DE6D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.*), (.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>48B60A1C-501B-446A-ADB6-73D680C65CA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>.*, .*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EDDBA782-0AFB-47A7-B890-A52F5885DE20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>curl https://hooks.zapier.com/hooks/catch/4705067/jcom4i/?note={query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77B57D55-1199-48D5-8D00-C96554A06F90</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string> </string>
				<key>replacestring</key>
				<string>%20</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4146539F-1517-49F5-9F4F-579BBC8EECEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>111</integer>
				<key>script</key>
				<string>curl -X POST -H "Content-Type: application/json" -d '{"value1":"'{query}'"}' https://maker.ifttt.com/trigger/reminder/with/key/nWbuG0NuOnsDddj5mcAX4e97jTAHuJ6F24eM-kCZiWA</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19ECC9EF-F475-4AE3-929B-110D943ECC5B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>!</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>New Reminder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD6318ED-CDFA-4D70-BAA7-89417D49BBC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>'</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E9BB8C42-9880-4F66-88B5-0333C9765AF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>179C24F5-23AD-4EA4-9F51-9469F7CEE320</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>19ECC9EF-F475-4AE3-929B-110D943ECC5B</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>1DCF5BD1-D41D-4095-B5CC-8CC2B37A09C5</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>4146539F-1517-49F5-9F4F-579BBC8EECEC</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>452C5A5D-6823-4689-8780-6F0C581F69C7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>48B60A1C-501B-446A-ADB6-73D680C65CA7</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>77B57D55-1199-48D5-8D00-C96554A06F90</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>840D72A8-D761-4BD4-A49D-E782DBF61B12</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>A439AC14-9DA7-4C30-BA5F-C8AF8B2C5FFC</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>A79F1693-E552-4B4F-B1A9-3F62C38D5D4F</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>BD6318ED-CDFA-4D70-BAA7-89417D49BBC4</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>C7333885-5636-4451-B458-63221EA27E3A</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E9BB8C42-9880-4F66-88B5-0333C9765AF6</key>
		<dict>
			<key>note</key>
			<string>strip out symbols that break the script</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>EDDBA782-0AFB-47A7-B890-A52F5885DE20</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>FACDC13A-2DDB-4638-98DD-F921914DE6D2</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>http://disasterpeace.com</string>
</dict>
</plist>
